<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MPAi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <startup>
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MPAiModel" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\MPAiDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core.Interops" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.115.0" newVersion="2.1.115.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Forms" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.115.0" newVersion="2.1.115.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MPAi.Properties.Settings>
      <setting name="autoLoginSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AudioFolder" serializeAs="String">
        <value>./Audio</value>
      </setting>
      <setting name="VideoFolder" serializeAs="String">
        <value>./Video</value>
      </setting>
      <setting name="RecordingFolder" serializeAs="String">
        <value>./Recording</value>
      </setting>
      <setting name="ReportFolder" serializeAs="String">
        <value>./Report</value>
      </setting>
      <setting name="HTKFolder" serializeAs="String">
        <value>./HTK</value>
      </setting>
      <setting name="FomantFolder" serializeAs="String">
        <value>./Fomant</value>
      </setting>
    </MPAi.Properties.Settings>
  </userSettings>
</configuration>